<MudDialog Class="pa-5">
    <TitleContent>
        <MudIcon Icon="@Icons.Material.Filled.CheckCircleOutline" Style="@($"color:{Colors.Red.Default}; font-size:3rem;")" />
        <MudText Typo="Typo.h4" Style="@($"color:{Colors.Gray.Darken4}; font-weight:bold")">Order Confirmed</MudText>
    </TitleContent>
    <DialogContent>
        <MudText Typo="Typo.subtitle1" Style="@($"color:{Colors.Gray.Default};")">We hope you enjoy your food!</MudText>
        @if (CartService.Items.Any())
        {
            <MudList T="string" Style="background-color: hsl(20, 50%, 98%);">
                @foreach (var item in CartService.Items)
                {
                    <MudListItem>
                        <AvatarContent>
                            <MudAvatar Square="true">
                                <MudImage Src="@item.Thumbnail" />
                            </MudAvatar>
                        </AvatarContent>
                        <ChildContent>
                            <MudText HtmlTag="div" Style="@($"color:{Colors.Red.Default}; font-weight:bold;")">@item.ProductName</MudText>
                            <div class="d-flex flex-grow-1">
                                <div class="flex-auto">
                                    <MudText HtmlTag="span" Style="@($"color:{Colors.Red.Default}; font-weight:bold;")">@item.Quantity</MudText>
                                    <MudText HtmlTag="span" Style="@($"color:{Colors.Red.Default}; font-weight:bold;")">x</MudText>
                                    <MudText HtmlTag="span" Class="mx-2"></MudText>
                                    <MudText HtmlTag="span" Style="@($"color:{Colors.Gray.Default};")">@@</MudText>
                                    <MudText HtmlTag="span" Style="@($"color:{Colors.Gray.Default};")">$@item.UnitPrice</MudText>
                                </div>
                                <MudText HtmlTag="div" Class="mx-6 flex-none" Style="font-weight: bold;">$@(item.Quantity * item.UnitPrice)</MudText>
                            </div>
                        </ChildContent>
                    </MudListItem>
                    <MudDivider Class="mt-4" />
                }
            </MudList>
            <div class="d-flex flex-grow-1 my-5 px-6">
                <MudText Class="flex-auto" Typo="Typo.h6" HtmlTag="div">Order Total: </MudText>
                <MudText Class="flex-none" Style="font-weight: bold; font-size:x-large;" HtmlTag="div">$@CartService.Items.Sum(i => i.Quantity * i.UnitPrice)</MudText>
            </div>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Class="rounded-xl" Style="@($"background-color:{Colors.Red.Default}; color:{Colors.Gray.Lighten5}; width: 100%;")" OnClick="Submit">Start New Order</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public CartStateService CartService { get; set; }

    private void Submit()
    {
        CartService.ClearCart();
        MudDialog.Close(DialogResult.Ok(true));
    }
}